<!--to make sure this only loads when the blog has been gotten from service-->
<div *ngIf="blog">
    <!--BLOG DISPLAY-->
    <div class="row blogListPadding">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{blog.title}}</h2>             
                    <p>Posted by {{blog.author}}</p>
                    <img [src]="blog.image" class="imageThumbLarge img-responsive pull-right">
                    <div [innerHTML]="blog.content"></div>
                </div> 
            </div>
        </div>
    </div>
    
    <!-- COMMENT REPLY VIEW-->
    <div class="row blogListPadding" (collapsed)="collapsed($event)"
        (expanded)="expanded($event)" [collapse]="isCollapsed">
        <div class="col-md-12">
            <commentreply [(blog)]="blog" [formid]="'blogReply'" [respondsTo]="" [(originalComment)]="originalComment" [(isCollapsed)]="isCollapsed"></commentreply>
        </div>
    </div>

    <div class="row blogListPadding">
        <div class="col-md-8">
            <br/><br/>
            <!--COMMENT REPLY BUTTON-->
            <button type="button" class="btn btn-info" (click)="isCollapsed = !isCollapsed">Comment</button>
            <br/>
            <!-- SHOW ALL COMMENTS -->
            <h2 *ngIf="blog.comments && blog.comments.length != 0"><b style="color: #696969;">Comments</b></h2>
            <div *ngFor="let comment of blog.comments">
                <commentview [comment]="comment" [level]="1" [blog]="blog"></commentview>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>