<hr/>
<div class="row">
	<div class="col-md-5">
		<p><b>{{comment.name}}</b>
        <b *ngIf="comment.website"> @ <a href="http://{{comment.website}}">{{comment.website}}</a></b>
         said on 
         <b>{{comment.date}}</b></p> 
	</div>
	<!-- To prohibit from too much comments of comments-->
	<div class="col-md-1 col-md-offset-5" ng-if="level < 4">
		<button type="button" class="btn btn-info" (click)="isCollapsed = !isCollapsed">
			<span class="glyphicon glyphicon-share-alt"></span>
			Reply
		</button>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-10">
	<p>{{comment.content}}</p>
	</div>
</div>
<div class="row" (collapsed)="collapsed($event)"
        (expanded)="expanded($event)" [collapse]="isCollapsed">
	<!-- COMMENT USER FORM -->
	<commentreply [(blog)]="blog" [formid]="'blogReply'" [(respondsTo)]="comment.key" [(originalComment)]="comment" [(isCollapsed)]="isCollapsed"></commentreply>
</div>

<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div *ngFor="let comment of comment.responses">
            <commentview [comment]="comment" [level]="level + 1" [blog]="blog"></commentview>
		</div>
	</div>
</div>